<h1>Freestyle Bullshit Bingo</h1>

<ul class="nav nav-pills">
	<li class="nav-item">
		{{#link-to 'freestyle-bullshit-bingo.play' class="nav-link"}}Play{{/link-to}}
	</li>
	<li class="nav-item">
		{{#link-to 'freestyle-bullshit-bingo.not-todo-list' class="nav-link"}}Die NOT-ToDo-Liste{{/link-to}}
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">FAQ</a>
	</li>
</ul>

{{outlet}}