.bingo {

	&-text {
		transform: scale(0);

		&-visible {
			transform: scale(1);
			animation: 0.75s bounceIn;
		}

		&-b {
			color: purple;
		}

		&-i {
			color: teal;
		}

		&-n {
			color: yellowgreen;
		}

		&-g {
			color: orange;
		}

		&-o {
			color: darkred;
		}

		&-ex {
			color: brown;
		}
	}

	.playfield {
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: repeat(5, 1fr);

		.tile {
			border: 1px solid grey;
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			padding: 0.25rem;
			font-size: 80%;
			hyphens: auto;
			min-height: 100px;

			&.selected {
				border-color: green;
				background-color: lightgrey;
			}

			&.winner {
				border-color: orange;
				background-color: lightgrey;
			}
		}
	}

	.counter {
		display: grid;
		grid-template-columns: auto 35px 25px;

		&-new {
			display: grid;
			grid-template-columns: auto 25px;

			label {
				grid-column: 1 / span 2;
			}
		}
	}
}


@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}
