<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="container">
		{{#link-to 'index' class="navbar-brand"}}Unicycle Freestyle Tools{{/link-to}}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					{{#link-to 'freestyle-bullshit-bingo' class="nav-link"}}Freestyle Bullshit Bingo{{/link-to}}
				</li>
			</ul>
		</div>
	</div>
</nav>

<main class="container">
	{{outlet}}
</main>